[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Hovercat
Comment=A sample application
Exec=/opt/hovercat/Hovercat
Icon=/opt/hovercat/resources/app/electron.png
Terminal=false
